<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

	<head>
		<title>Token Cost Estimator</title>
		<meta charset="utf-8">
		<meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" th:href="@{/css/main.css}" href="../static/css/main.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
		<script src="https://unpkg.com/htmx.org@2.0.3/dist/htmx.js" integrity="sha384-BBDmZzVt6vjz5YbQqZPtFZW82o8QotoM7RUp5xOxV3nSJ8u2pSdtzFAbGKzTlKtg" crossorigin="anonymous"></script>
	</head>

	<body>
		<div class="tokenNavBarContainer">
			<div class="tokenMainNavBarContainer">
				<img th:src="@{/img/SpringLogo.png}" src="../static/img/SpringLogo.png" style="border: 2px solid black; height: 40px; width: 40px; margin: 3px; margin-left: 10px;"/>
				<p class="tokenMainNavBarTitle">Token Cost Estimator</p>
			</div>
			<div class="tokenSubNavBarContainer">
				<p class="tokenSubNavBarTitle">
					<span style="color: #898989;">by Codeprimate, LLC</span>
				</p>
			</div>
		</div>
		<div class="container center">
			<form id="tokenContentForm" action="#">
				<div style="margin: 15px;">
					<textarea id="documentContent" placeholder="Enter some text" style="background-color: #f1f3f6; width: 80%; height: 450px; margin: 5px;"></textarea>
				</div>
				<button id="clearButton">Clear</button>
				<button id="calculatorButton" class="image-button" aria-label="Calculator">
					<img th:src="@{/img/calculator.svg}" src="../static/img/calculator.svg" alt="" aria-hidden="true">
				</button>
			</form>
		</div>
		<div class="horizontal-separator"></div>
		<div class="tokenizer-stats-container center">
			<div class="tokenizer-stat vertical-separators">
				<div class="tokenizer-stat-title tokenSubNavBarTitle">WORD COUNT</div>
				<div id="wordCount" class="tokenizer-stat-value">0</div>
			</div>
			<div class="tokenizer-stat vertical-separators">
				<div class="tokenizer-stat-title tokenSubNavBarTitle">TOKEN COUNT</div>
				<div id="tokenCount" class="tokenizer-stat-value">0</div>
			</div>
			<div class="tokenizer-stat vertical-separators">
				<div class="tokenizer-stat-title tokenSubNavBarTitle">FILTERED TOKEN COUNT</div>
				<div id="filteredTokenCount" class="tokenizer-stat-value">0</div>
			</div>
		</div>
		<div class="horizontal-separator"></div>
		<div id="tokens" class="tokenizer-tokens center"></div>
		<script type="text/javascript">
			$(document).ready(function() {
				$("#documentContent").focus();

				$("#clearButton").on("click", function () {
					$("#documentContent").val("");
					$("#wordCount").html(0)
					$("#tokenCount").html(0)
					$("#filteredTokenCount").html(0)
					$("#tokens").html("")
				});

				htmx.on("#documentContent", "input", function(event) {

					var documentContent = $("#documentContent").val()

					documentContent = documentContent.replace(/(\r\n|\n|\r)/gm, " ");
					documentContent = documentContent.replace(/\s+/g, " ");
					documentContent = documentContent.trim();

					$.ajax({
						method: 'POST',
						url: 'http://localhost:8080/token-metadata/api/tokens/count',
						accept: 'application/json',
						contentType: 'application/json',
						data: JSON.stringify({ content: documentContent }),
						success: function(data) {
							console.log(`Document Content [${documentContent}]`);
							$("#wordCount").html(data.wordCount);
							$("#tokenCount").html(data.tokenCount);
							$("#filteredTokenCount").html(data.filteredTokenCount);
						},
						error: function(xhr, status, errorMessage) {
							console.log(`Failed to get token counts from content: { status: ${status}, errorMessage: ${errorMessage} }`);
						}
					});

					$.ajax({
						method: 'POST',
						url: 'http://localhost:8080/token-metadata/view/tokens',
						accept: 'text/html',
						contentType: 'application/json',
						data: JSON.stringify({ content: documentContent }),
						success: function(html) {
							$("#tokens").html(html);
						},
						error: function(xhr, status, errorMessage) {
							console.log(`Failed to get token from content: { status: ${status}, errorMessage: ${errorMessage} }`);
						}
					});
				}, "{ delay: 500ms }");
			});
		</script>
	</body>

</html>
